
  
 SELECT Account_ID, Day_Code, Channel_ID, COUNT( distinct DeliveryID ) as cnt
 --into #sig_list
  FROM [Edge_OLTP].[dbo].[Paid_API_AllColumns_v29]  
 -- where Account_ID = 10000 -- and Channel_ID = 1  and Day_Code = 20111214
  group by Account_ID, Day_Code, Channel_ID
  having COUNT( distinct DeliveryID ) > 1
  
 SELECT Account_ID, Day_Code, Channel_ID, SUM(imps) as SumImps
 --into #sig_list
  FROM [Edge_OLTP].[dbo].[Paid_API_AllColumns_v29]  
 -- where Account_ID = 10000 -- and Channel_ID = 1  and Day_Code = 20111214
  group by Account_ID, Day_Code, Channel_ID
  having SUM(imps) =0
  
  
  SELECT  Account_ID, Day_Code, Channel_ID ,'top11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111' as deliveryID
   into #sig_list_top3
  FROM #sig_list sig
  
  update #sig_list_top3 
  set #sig_list_top3.deliveryID =  fact.DeliveryID
  from [Edge_OLTP].[dbo].[Paid_API_AllColumns_v29]  fact
  where #sig_list_top3.account_id = fact.Account_ID and #sig_list_top3.Day_Code = fact.Day_Code 
	and #sig_list_top3.Channel_ID = fact.Channel_ID
--	and #sig_list_top3.account_id = 10000
   
   
   select * from #sig_list_top3

  select distinct DeliveryID, fact.day_code, fact.Channel_ID
  into #last_List
  from  #sig_list sig inner join [Edge_OLTP].[dbo].[Paid_API_AllColumns_v29] fact 
				on sig.account_id = fact.Account_ID and sig.Day_Code = fact.Day_Code and sig.Channel_ID = fact.Channel_ID
	where fact.DeliveryID not IN ( select deliveryID from #sig_list_top3)  				
			--	COALESCE(@DeliveryIDsPerSignature+'', '','''')+ISNULL(deliveryid,'''')
	
	declare @DeliveryIDs as nvarchar(max);
			
	select @DeliveryIDs = COALESCE(@DeliveryIDs+'', '','''')+ISNULL(DeliveryID+',','''')
	from  #last_List 		
			
select @DeliveryIDs

0027452d46a64af8acdc1d0eb7c70537,00851f46384e4b5897c7dea4e5224962,00cdd8e672d34171814b50c01dac4a5d,012384a35b3540cca2058e19b1f2d418,039f63cbeede41c5892423e98a701041,043fc6637ff34ac38282104eac697554,04ebfcbad94e4638a328ec03b8eafb2b,05af3d87f5b449c6945a81557c44c956,07022c5dc2e444f5a3aec3a478fd8aa3,076337ff9a154f059b99e501d2654394,08018df916cb4dc39baa0d992647179f,091b2ad517da4f30823c07a220b270ee,0dec010d29db4636a996a53a848f0361,0eeb6525b3bb45e09ca9a601d137c944,1035de3443e34641b678812483fe1120,11a7d806edc84ed4b96a0f972a637032,131aef3ac468411b87378660a3460f49,1450c9efd7634e35a09ffb03659b0616,15378be3ff1649b78fcba970e4e6ef70,1544f6542a664d1f872f652fb6c52858,1a7eb3212522451cb815ac06cef1bf7a,1acfab450cf545a9b06471576cc69b5e,1d177192f3ae4519b5e0c48e9539d6bf,1d3e584a6ab6429690631032d068e4a0,1e6e3b39a0174cd39f3ee5deb5670ce5,1e9fff7c0d4d4fb0abcdff760e32621a,1eb463386c7d4eedab124afb7b73380e,1eba68356a204c9db1a6f56ec2efb391,1ec49f043d584659b49636801f0be624,1f00ac2d98ff47c1bd76d2077838fccd,2119045645fd4915a1fdbef06a4a4c97,21e57543d3154ce0a3f6a408d955a75e,22b2947979584f81b725688f44635bc2,231b80f1b32e4818be6e9b3d71b3dc78,249ada9a5bb849e08fe7de7c93695ded,257fa66f1d224999a4281cf01d9c658f,25ffa0e486d4429e90426cf66529764a,27315e15bd364cb3990da47858709224,28427245f8274ff390495e1d3cd742d9,28c1fdfaf8db4cab9eb4765bce375f23,28ea9df83a9d4a18b0a6656d29efaf0a,299f4e7f701b46d4adf419d968c76230,2b706341b7d742b7927414632a5b4cbf,2e2d103fd56b4808ac52264b91525d03,30327e22b735458ca7a615909d8e9567,307160bc1d4947c5809034d413d2f86a,34c24173424c428dbe1554afaad86d17,3593ea510d6b41649c7b4832583c5adc,373882cc379641e4807b9922809eac4e,377c345202e3490aa7f1c1b1adca26dd,37ce10e5062043fb9bc95cd23e71fecc,386196bad174452d8cb55e685fc1dffb,3af3050ab9b445158c9febe89a468e85,3d2e5263c7ec4ad290b41664e9fb842f,3d6dc9d1a72242eebbeb3f050ceb6370,3e318580fc4e458e81c29573ca2828ea,3f579d27329f4f6d8aa33c11e80377c7,3fadf9f91a8d4923aad0a44ef480ffd5,3fe4a44a23114102a2621b0702a41b66,401bbe301df34224b36bbab20db561fd,41fc17bc037a4efd92e3d1cdd6c6bac4,42741e70b1344fc4a48895edc4ecb194,43522f4aa4b54446a256f17ec06ef47b,435fd7d4c1a642b6b2ea1dc42b2d80d7,437c178a219d4740ba15d4956221f599,43ce627cabe54d0f9263e7fa736f14fa,441e1c389a304b16beaefdbae154a830,4620eb9209b34c12a1c3169a1d1c821f,467744bb21904fde940086942a322573,47448b4fbe2848ccb51bab462bd3bca2,47748f4162844b1c8155b48364bc9082,47c3bd7b4ba548418ae5944d874c467e,48d5ad92181048e6ab7484a0f942214d,49534d5a97dd4b0c8af26c3ff3b9d4fe,4a7b13589d9d437b89bb41011e4c49b4,4af7f4f36cd343318ccf24bacfc28265,4cc3b792f6bc4694af48aea1b46af693,4cfb5d456e5d44e19321b85751839d9a,4f4a29e29daa40ce9c144c8a1b1710be,50dd0cf290f14e89b20a6e980d33accc,50f1447a91b14dfc9c3542cc5980719b,5148ff8cc8af46a1864bdd44e4ef1a80,5656e83676a844048657c0a1e7c452f1,565997899eb94e9ba7658ea730e2277b,571819f220634d0f9f3567418a7a030c,57f9fb5cf3f1461da5089cfe766ed929,587587af86d3475bb31d027675acc0b7,5a533d65c8144fa28dafe0c24f793973,5aa3380fbc0a48efab9b97658fec6d53,5c33577c30cd43348dac657bbc04dc1a,5e9fa780c77c4152b2ed0779b966e975,5ec22ba616be4e4eba24c625ce2a0bfd,5f06eabf484b403b805b0059d796cc1a,5fa15d8964a449cf94feac1fc023a333,5fe5fd163634435c8cb17ca4f66e02f8,60e3e83a226241e1ad1d0f96d8868054,63f11ee8273a431a83ba50c354621fb5,6408a6c8bf244c8fba7c827b94e52182,66f03777c135408b922a6479e21c4a7e,697974fcfd1142139a4b207d1fb71910,6b7546e5015a4c2b8aa850727761bb50,6bb96f2aa2d842068de9988dea8e1bb9,6e07669e0ba64a7786f990dd4d8d48aa,6e6de068019544b19ac73fefafab5eeb,6fc85581b55348c59ad41c45d250957f,71d1c7510d584959a25252709d254698,727c48a3fdec411b976fc5bf69db9bd9,73359038083949a98aa797cd2e9b5f7e,745444967d8b4cfeac44f59e7ebb7fe5,757b84fea3f44ba3a0d3bb20664dbda7,75dfedb54349497aa45095bc224b9d75,76970adba1f3485e97ee896895542ff5,78d433d19f00402891edcb98fd3c66dc,7a310f4281be4fba8dfc68c404889440,7a94f5c7a0054c2e802b59b5b036e52d,7c2fa1e29da94593aea93adb4b8e99c8,7e3b50e08bef45d384ba74f1fcb064b7,80c586a7c9c44d5da081850227988336,8202118d17354bcaa6ef143ef61dcb93,82519b3353014b89b9ad0973075fed5a,84b40c74a2a24be7a6ec33c90190b6c0,8523816b78454e89b96b10302b7affb2,85a924f50b9f4fd5bdf3c13595657bed,8624c1c167c04a33a0598a482a882b58,866ecdbc5caf438388641e724bda5255,87da794572564b7b95f1478a3b014cdd,8ac14a6d48c047c3b2fed2229630887a,8b8073078e0e4a119c2a21bc9c0a3a94,8d27b779eec8473389b120ea411c525e,8d31f45312f14d4fbc7acdfac638d965,909a247beb334235975db2739219e1f6,924778eb861949c7a256cc6ef824cf82,93e94d240008440b9ea6e85aaf024fa0,996fa0430ef94df580884e7c6a46e8f7,99bbbe553e1647a19ca4acbb0d445eef,9c1ed75f678a47aa85b7a459c88a5835,9dede489faa4484c8bd104e2c2959b28,9f73de7368e34bafaaadd2d7a5f4036c,9faac3693d7347f5a74a14cf80ace0ab,a108982113814343aaebc02cc20bfca1,a10d5adfc88441e1bfb4985896b2909a,a4d245c0ecb047bc8634b156a2db978e,a6adeb9071124015aa121095be41b5e4,a70dc03b3b8c403cb21368d7ad880bef,a7f015af3d85429e9ed2307a34d15e7f,a85f1144843a4b9ab4dda82e949d9c03,ab1421cc88cf41e290d0f1d362b11ccb,ab8cac2c338c4a54b64a7a38372f736a,abae1f5f779c40ca902efff981e98b65,ad2821e2581f44729efaa74668123aeb,ad960556af5b46648f795a2ef3806a1b,ae90f8442da04c8c86dc0c8067805c8c,b05c5340a7804a7f80002bbc3deb05b9,b103f65114c54236ab4e6fe799351afa,b13dc27d01834f269d79c0ba3355a2eb,b546f7c9b7c04322984431561c268ba5,b5f6b5a818f74587a923c7e6ac1146c7,b60e05bbc6204482b4ecdc57308ed75c,b7feda4e58ac427e98f7bfc6da0bd7f3,b9afe55e3ef54b3a8f1be140ec76516e,bac725b465444511828896d6a1a762b0,bb62246187b34cfb976021bbb2ec6c2b,bc08885688354bf0a1d4ea08e3f9b450,bc6ae35578ee4108a3ebf61237c13453,bdc850a83528446c9927c9a4eb40d836,bdf4235aab144b209b340017b73b8e20,be942c3d05174b7691a07d737dbe4e8f,bf0fe8df8ae94d2a8af57e79b86d9040,c0f2bbbd3e5f44bd83b90accd226c996,c1de17f006664bf389f2231620e589fe,c2339e63dba2428dae0ecab374b91517,c4eeddb0fc7440c6ad68478c1b0d1265,c6e8a0e17d934101a00f974be9e6654f,c7ef91ac3105451fb255406d86bd4fa0,c86bc5101f1344e18d621899130c6598,c8a327cebe264d0faddeecdca4ab9cbd,c929f146a1454008905d912ced5c584d,c963c67a21594998bdc42c7b8d43ef14,ca1a36def8e140a7a037fd6645ea8ab5,ca2aaeef23544dc691dee35515cbf9be,ca4f1eb5eb224041ad01d94a34f2ec72,caccdc3942174a598cc5376278bf57e1,cc7987028ca544d7b5ae87eb8ac2cafa,ccd1c5be06aa4c5d8fea0a3317b39b65,cfda6565133f43788b353dd89ce810ee,d093cc7a89474ea2918c8c2d3933d1ce,d1cd90ed3ca14d66b97000b496e5d6ab,d2644fb61ac448a287d83304cd9c7549,d2a96229d2a94f4ab712d61d8623a1bd,d3762d10801c445490399b905670787b,d39a8717cd3e435798a293925952135c,d3f75c2b094c4035b2729dd9f0fee98f,d47c5a2fe1f844c19722cfb16319b9cd,d68603c67f8b4eccb8df9e644fdd0ced,d6b9d8a8f7634463bcf7fddb2bbee3c7,d7d5053060004d749d0bd616be79d4e7,d830c2f5e87f4fe1b395a6920365a335,d8ab0a74a91f4862b7df1ac50c9b3b73,d975d6c317d142c38c34a267032f0625,dbc43f96847a459c9c18c8ef594be27e,dd323a94bb834ee48216a4cb5872d577,dd846e8b6f5848009ce6d78fa30700af,ddb33634d2c64076a82eb64eb352c553,de49931123164f8c824606677802714f,e13bcce429e940fc908ff1cde33d5dbb,e288d4e90bff493598cf101004e17910,e4587fcea6f74e2e9fd1cdd476267f02,e6d799bf228f4baa9f0c08696ecfd19e,e6d8e243d157440a9e1cde401dfacb24,ebdb46fd43ab465e8f082a03d189bc9a,ec8fcd19cd004e139d3b81c2bb99ce8d,edbf769ff9084d208c95fbdf849ac749,edd1b64865f94963bd360ce91950f721,ee41cdcfef1a4e3a936c117b6f8c45ca,eebeb6a72b1249d0a80d56a74f83ff54,ef9188b30011444181ac12bbe39cf4eb,f042962de784495eba622889f11db5e7,f3990f500ac94efaa1840ac4c8290b51,f42f4688bd9248d9b62963a04c528a5a,f52ddf4ba49140698e5090023a0a31ac,f5c11fc5484741b9bc7f3570e7018241,f61ed2a1adc74454ac4e838c72107641,f74b3434e51d479296395017ffad0176,f74b4bef89ec4ad0b8a2abb7ed1ae695,f76df5f4669f47fdaf5f71d162d0e468,f82cab989d054605bcf1b1464e6fb037,f9d7c06e664a419a893a67364be64bd7,f9dec494f07840e9944b8f1bc60eb90b,fa361ea7674845fda1324b94842d4976,fac2f26dd0c94cf6a892f0217d9d9f53
				